In [26]:
for i in range(6):
    for j in range(6):
        print("*" , end = " ")

    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [14]:
for i in range(6):
    for j in range(i+1):
        print("*" , end = " ")

    print("\n")

*

* *

* * *

* * * *

* * * * *

* * * * * *

In [16]:
for i in range(6):
    for j in range(6-i):
        print("* " , end = " ")
    print()

*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [27]:
for i in range(6):
    for j in range(6-i-1):
        print(" " , end=" ")
    for k in range(i+1):
        print("*" , end = " ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *

In [28]:
for i in range(6):
    for j in range(6-i-1):
        print(" " , end=" ")
    for k in range(2*i+1):
        print("*" , end = " ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

In [30]:

# Upper pyramid
for i in range(6):
    for s in range(6 - i - 1):
        print(" ", end="")
    for j in range(2*i + 1):
        print("*", end="")
    print()

# Lower inverted pyramid
for i in range(6 - 2, -1, -1):
    for s in range(6 - i - 1):
        print(" ", end="")
    for j in range(2*i + 1):
        print("*", end="")
    print()

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [44]:
for i in range(5):
    for j in range(1, 5+1):
        print(j , end = " ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [46]:
for i in range(5):
    for j in range(1 ,i+2):
        print(j , end= " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [49]:
for i in range(5):
    for j in range(1 ,5-i+1):
        print(j , end= " ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1